<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="../css/tree_menu.css"/>
<link rel="stylesheet" type="text/css" href="../css/main.css" />
<link rel="stylesheet" type="text/css" href="../css/toolbar.css" />

<script type="text/javascript" src="http://121.199.38.132/jquery-1.8.3.js"></script>
<script type="text/javascript" src="../js/common.js"></script>
<script type="text/javascript" src="../js/jpagelst-0.0.1.js"></script>
<script type="text/javascript" src="../js/jloading-0.0.1.js"></script>
<script type="text/javascript" src="../js/jselect.lst-0.0.1.js" charset="utf-8"></script>
<script type="text/javascript" src="../js/jform-0.0.1.js" charset="utf-8"></script>
<script type="text/javascript" src="../js/tree_menu.js"></script>
<script type="text/javascript" src="../js/jpicture.lst-0.0.1.js" charset="utf-8"></script>
</head>
<body>
<div id="userInfoBlock" class="title_block"></div>
<img src="http://121.199.38.132/images/main/shadow.png" style="width:100%;height:5px;"/>

<div style="margin:0 auto;width:95%;font-size:14px;">
	<div id="treeMenu"  class="menu_tree_block"></div>
	<div style="width:1px;background:#eeeeee;float:left;margin-top:10px;"></div>
	
	<div class="right_block">
		<div id="rightTitleBlock" class="right_title_block">
		</div>
		
		<div class="tab_bar_1">
			<div class="button_1" onclick="queryMerchantInfos()" style="float:left;margin-left:18px;margin-top:20px;">查询</div>
		</div>
		
		<div id="entityInfoLst" class="table_block">
		</div>
	</div>
</div>
<div id="qrCodeImageDiv" class="pop-box" style="height:360px;margin-top:15px;margin-left:10px;">
	<div id="instLst" style="margin:0 auto;margin-left:20px;">
		<image id="qrCodeImage"></image>
	</div>
</div>
<script>
processUserInfo({level:0, treeNodeId:"complaintLstMgmt"});

var jLoading = new JLoading();

var jSelectLstDialog = new JSelectLstDialog({id:"jselectLst", btnTxt:"确定"
		, btnFunction:function(rtnObj){instInput.finishValueSelect(rtnObj)}, isSimpleSelect:true});

var tableHeight = document.body.clientHeight - 55 - 52 - 65 - 50;
var lstInfo = {
	id : "entityInfoLst",
	titles: ["商户名称", "所属机构", "企业法人", "服务电话", "认证状态"],
	keys: ["cpy_name", "inst_name", "cpy_legal_name", "svr_tel", "com_stat"],
	functionTitles:[],
	functions:[],
	height:tableHeight,
	loadingFunction:queryEntityInfos
}
var jlst = new JPageLst(lstInfo);

function queryEntityInfos() {
	var pageInfo = jlst.getPagInfo();
	loadEntityInfos(pageInfo.page, pageInfo.rows);
}

function loadEntityInfos(page, rows) {
	
}


var formData = {
	id:"createMenuId",
	formSize:8
}
var jForm = new JForm(formData);
function showDetail(idx) {
	var record = jlst.getJLstRowInfo(idx);

	var createFormInfo = {
		inputLst:[{label:"商户名称", type:"view", id:"cpyName", value: record.cpy_name}
		, {label:"商户费率", type:"view", id:"rate", value: record.rate}
		, {label:"企业法人", type:"view", id:"cpyLegalName", value: record.cpy_legal_name}
		, {label:"经营地址", type:"view", id:"cpyAddress", value: record.cpy_address}
		, {label:"企业简介", type:"view", id:"introduction", value: record.introduction}
		, {label:"经营特长", type:"view", id:"special", value: record.special}
		, {label:"联系人", type:"view", id:"linkman", value: record.linkman}
		, {label:"服务电话", type:"view", id:"svrTel", value: record.svr_tel}],
		title : "查看用户"
	}
	jForm.showForm(createFormInfo);
}

</script>
</body>
</html>